<?xml version="1.0" encoding="utf-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Simulador AVL</name>

    <description>Un simulador de seguimiento satelital</description>

    <author email="pld2005@gmail.com">Daniel Alvarez</author>

	<icon src="GPS-sattelite.png" gap:role="default"/>
	
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<access origin="*" />
	
	<gap:platform>
        <gap:platform name="android" minVersion="2.3"/>
    </gat:platform>
</widget>